In [5]:
# importing important library
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [7]:
# load Data Set
df=pd.read_csv("home_price.csv")

In [11]:
# Check Data
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [13]:
# perform one-hot encoding
pd.get_dummies(df,columns=['locality'])

,area_sqr_ft,price_lakhs,bedrooms,locality_Banjara Hills,locality_Kollur,locality_Mankhal
0,656,39.0,2,False,True,False
1,1260,83.2,2,False,True,False
2,1057,86.6,3,False,True,False
3,1259,59.0,2,False,True,False
4,1800,140.0,3,False,True,False
5,1325,80.1,2,False,True,False
6,1085,116.0,3,False,True,False
7,1110,45.0,2,False,True,False
8,1700,100.0,3,False,True,False
9,1650,200.0,3,True,False,False
10,2438,316.0,3,True,False,False
11,2115,220.0,2,True,False,False
12,1600,150.0,3,True,False,False
13,2400,300.0,3,True,False,False
14,1100,85.0,2,True,False,False
15,2600,400.0,3,True,False,False
16,1100,54.0,2,False,False,True
17,1125,64.0,2,False,False,True
18,1008,50.0,2,False,False,True
19,1266,78.0,2,False,False,True
20,1540,94.0,3,False,False,True
21,1200,85.0,3,False,False,True

In [15]:
#save encoded data with remove extra column
encoded_data=pd.get_dummies(df,columns=['locality'],drop_first=True)

In [17]:
# show Encoded Data
encoded_data.head()

   area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
0          656         39.0         2             True             False
1         1260         83.2         2             True             False
2         1057         86.6         3             True             False
3         1259         59.0         2             True             False
4         1800        140.0         3             True             False

In [40]:
# split feature Data 
X=encoded_data.drop('price_lakhs',axis=1)

In [42]:
# split label Data
y=encoded_data[['price_lakhs']]

In [30]:
# spilt data into Two part for traing and testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [45]:
# define model
ml=LinearRegression()

In [34]:
# train model on training data
ml.fit(X_train,y_train)

LinearRegression()

In [47]:
# predict on test data
y_pred=ml.predict(X_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [49]:
# check acuraccy of model prediction
r2_score(y_test,y_pred)

0.8558905263155381